<!DOCTYPE html>
<html>
    <head>
        <title>Chesster</title>
        <link rel="stylesheet" type="text/css" href="/static/css/style.css">
    </head>
    <body>
        <div id="star-field"></div> <!-- Star-field div -->
        <div id="content-container" style="display: flex; flex-direction: column; align-items: center; justify-content: center; height: 100vh;">
            <h1>Chesster</h1>
            <p id="message">Loading...</p>
            <img id="image" src="" alt="Board will be displayed here"/>
            <ul id='messages'></ul>
            <script src="/static/js/script.js"></script>
    </body>
</html>